<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.clearives.cc</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>F79967FF-6151-4F73-8FDF-DDA07BC68852</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B64704C-C330-445A-9EB2-6CBCB8DC491B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>clearives</string>
	<key>description</key>
	<string>掘金文章搜索</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>掘金文章</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B64704C-C330-445A-9EB2-6CBCB8DC491B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>juejin</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询中，请骚等~</string>
				<key>script</key>
				<string>/usr/local/bin/node index.js juejin "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>类型：0：推荐，1：前端，2：后端</string>
				<key>title</key>
				<string>掘金文章搜索🔍</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F79967FF-6151-4F73-8FDF-DDA07BC68852</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8B64704C-C330-445A-9EB2-6CBCB8DC491B</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F79967FF-6151-4F73-8FDF-DDA07BC68852</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>clearives.cc</string>
</dict>
</plist>
